# setuptools version 59.5 to avoid : AttributeError: module 'setuptools._distutils' has no attribute 'version'

# https://www.freqtrade.io/en/stable/te
ccxt==1.72.98
TA-Lib==0.4.24

pandas-ta

sklearn