# https://mrjbq7.github.io/ta-lib/
--find-links build_helper/
TA_Lib-0.4.24-cp39-cp39-win_amd64.whl

# ---Pytorch---
# https://pytorch.org/
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.2+cu113
torchvision==0.11.3+cu113 
torchaudio==0.10.2+cu113
tensorboard
torch-tb-profiler
# ---

# https://github.com/Guitheg/ritl
ritl

# https://github.com/rmsolgi/geneticalgorithm
geneticalgorithm2

# https://www.freqtrade.io/en/stable/te
freqtrade