# https://docs.pytest.org/en/6.2.x/
pytest

# https://pytest-cov.readthedocs.io/en/latest/
pytest-cov

# https://libraries.io/pypi/pytest-mock
pytest-mock

# https://flake8.pycqa.org/en/latest/
flake8

# http://www.mypy-lang.org/
mypy

sphinx